body{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size:20px ;
}

#image{
    border-radius: 100%;
    width: 150px;
    border: 1px solid black;
    margin: 10%;
}
.container{
    text-align: center;
    position:relative;
    border: 2px solid black;
    padding: 1%;
    border-radius: 30px;
}
.head{
    display: flex;
    flex-direction: row;
    /* border: 3px solid green; */
}
#head1{
    position: relative;
    flex: 2;
    text-align: center;
}
#head2{
    flex: 8;
    position: relative;
    text-align: center;
     padding: 1%;
    border: 1px solid black; 
    font-size: 25px;
    border-radius: 30px;
}
.body{
    display: flex;
    /* border: 3px solid green; */
    height:100px;
}
.tail{
    /* border: 3px solid green; */
    height: 100px;
}
#information{
    text-align: center;
    border: 1px solid black;
    margin: 0%;
    padding: 1%;
}
#body1{
    flex: 1;
    /* border: 1px solid black; */
}
#body2{
    flex: 1;
    /* border: 1px solid black; */
    display: flex;
}
#body11{
    padding:2%
}
#body21 , #body22{
    flex: 1;
    padding: 2%;
}
#Resume{
    width: 80%;
    height: 60%;
    font-size: 20px;
}
#Browse{
    padding: 0% 10%;
}
#AddProject , #Browse ,#Resume{
    margin: 5px;
}
input{
   font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    font-size: 15px;
    padding: 0% 5%;
}